.bg-space{
  background-image: url("../assets/space_background.png");
  background-size: cover;
  background-position: center;
}

.bg-custom-blue{
  background-color: #1F384E;
}

input.bg-custom-second-blue{ /*Needs to be more specific to overwrite default background */
  background-color: #0E293E;
}

.hover\:bg-custom-blue-hover:hover{
  background-color: #0E293E;
}

.pixelated-font{
  font-family: 'Silkscreen', cursive;
  font-family: 'VT323', monospace;
}